PORT=3000

# Postgres (Neon)
# DATABASE_URL: pooled (pooler) - recomendado para runtime
# DIRECT_URL: direct - recomendado para migrations (Prisma)
DATABASE_URL="postgresql://USER:PASSWORD@HOST_POOLER:5432/DATABASE?sslmode=require"
DIRECT_URL="postgresql://USER:PASSWORD@HOST_DIRECT:5432/DATABASE?sslmode=require"
